<div class="container cv-container">
<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">

        <app-section title="Summary" [icon]="summaryIcon">
            Dedicated Software Professional ,Proficient inadapting to new software applications, Self motivated with excellent Communication skills, Strong Creative and analytic skills
Having 1 year of experience in Full Stack Web Development ,HTML, CSS, Bootstrap , Java, Spring Boot, Angular Framework, tools like git, GitHub, postman, JIRA, Database (MySQL,Oracle DB,Postgre SQl) having knowldge in  R, Python(numpy,Pandas,Seaborne), Ui path. <br>
        </app-section>

        <app-section title="Work Experience" [icon]="workExperienceIcon">
            <app-life-period dateText="04/2021 - Present" place="Chennai, TamilNadu" position="Associate Software Engineer" Company="CGI" Company_url="https://www.cgi.com/en">
                <ul>
                   <li> Write well designed, testable, efficient Code and Review it</li>
                    <li>Experience in the Spring, Spring Boot, and Hibernate</li>
                    <li>Knowledge of developing REST API.</li>
                    <li>Debugged code and located root causes of problems by reviewing configuration files and logs.</li>
                    <li>Designed and implemented Java-based applications.</li>
                    <li>Utilized the latest software development tools like JIRA,git,  Postman, Swagger techniques, and approaches.</li>
                     <li>Build new api's using java Spring Boot Framework Performing Crud Operation.</li>
                    <li>Experience in Oracle DB, MYSQL,PostgreSQL</li>

                </ul>
            </app-life-period>
            <app-life-period dateText="01/2021 - 04/2021" place="Remote" position="Full stack developer intern" Company="BeyondKlasses" Company_url="https://www.beyondklasses.com/">
                <ul>
                    <li>Participated in the Project development through entire Software Development Lifecycle(SDLC).</li>
                    <li>Designed and implemented new web components across new and existing designs.</li>
                   <li> Developed a Web application using Java Spring Boot Technologies that enable kids to show case their drawing and get evaluated by Artists(www.mykidsdrawing.com).</li>

                </ul>
            </app-life-period>
            </app-section>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
        <app-section title="Skills" [icon]="skillsIcon">
            <strong>Major Tech Skills</strong>
            <ul>
                <li>Core Java</li>
                <li>Spring</li>
                <li>Jpa,SpringBoot</li>
                <li>Javascript</li>
                <li>Angular-cli</li>
                <li>HTML,CSS</li>
                <li>Microsoft Azure</li>
                <li>Bootsrap</li>
                <li>SQL(Oracle,Mysql,PostgreSQL)</li>
                <li>Python</li>
                <li>UiPath</li>
            </ul><br>
            <strong>Other Tech Skills</strong>
            <div>
                <span>
                    <i>Python-related:</i> pip, Pycharm, Pandas,Jupiter, Numpy, Sklearn.<br> 
                    <i>Web:</i> HTML 5, CSS, REST, jQuery, Bootstrap, Material, Swagger.<br> 
                    <i>Java-related:</i> Spring, Hibernate, Tomcat, JPA, Hikari,H2.<br>
                    <i>Machine Learning:</i> Pandas, Jupyter, numPy, scikit-learn. <br> 
                    <i>Tooling:</i> GIT, Github, JIRA, PostMan.<br> 
        
                </span>
            </div> <br>
            <strong>Soft Skills</strong>
            <ul>
                <li>Strong Creative and analytic skills</li>
                <li>Excellent Communication/li>
                <li>Agile methodologies</li>
                <li>Working with remote teams and team members</li>
            
            </ul>
        </app-section>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
        <app-section title="Certification" [icon]="educationIcon">
            <app-life-period dateText="01/2022" 
                place="SkillSoft" 
                position="Full Stack Development">
                <div class="row">
                    <img src="assets/FSD.png" width="100" height="100" alt="AWS Certified Cloud Practitioner">
                    <div class="col"> <br>
                        Issued by <a href="https://www.youracclaim.com/badges/ff2392c2-90d1-4e0e-8a11-4d605791765c/public_url">SkillSoft</a>
                    </div>
                </div>

                

            </app-life-period>

            <app-life-period dateText="07/2021" 
            place="SkillSoft" 
            position="Eniched Web Development using Angular 11">
            <div class="row">
                <img src="assets/A11.png" width="100" height="100" alt="AWS Certified Cloud Practitioner">
                <div class="col"> <br>
                    Issued by <a href="https://www.youracclaim.com/badges/ff2392c2-90d1-4e0e-8a11-4d605791765c/public_url">SkillSoft</a>
                </div>
            </div>

            <app-life-period dateText="01/2022" 
            place="Hackerrank" 
            position="Java">
            <div class="row">
                <img src="assets/HR.png" width="200" height="100" alt="AWS Certified Cloud Practitioner">
                <div class="col"> <br>
                    Issued by <a href="https://www.youracclaim.com/badges/ff2392c2-90d1-4e0e-8a11-4d605791765c/public_url">Hackerrank</a>
                </div>
            </div>
         </app-life-period>
         </app-life-period>
            </app-section>
    </div>
    </div>
    
</div>

